<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wjq.mapper.RoomMapper" >
  <resultMap id="BaseResultMap" type="com.wjq.model.Room" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="ROOM_ID" property="roomId" jdbcType="VARCHAR" />
    <result column="ROOM_NAME" property="roomName" jdbcType="VARCHAR" />
    <result column="ROOM_TYPE" property="roomType" jdbcType="VARCHAR" />
    <result column="PRICE" property="price" jdbcType="DECIMAL" />
    <result column="IS_ACTIVE" property="isActive" jdbcType="VARCHAR" />
    <result column="ACTIVE_ID" property="activeId" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="GMT_CREATE" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="GMT_MODIFIED" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="MEMO" property="memo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ROOM_ID, ROOM_NAME, ROOM_TYPE, PRICE, IS_ACTIVE, ACTIVE_ID, STATUS, GMT_CREATE, 
    GMT_MODIFIED, MEMO
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from room
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from room
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wjq.model.Room" >
    insert into room (ID, ROOM_ID, ROOM_NAME, 
      ROOM_TYPE, PRICE, IS_ACTIVE, 
      ACTIVE_ID, STATUS, GMT_CREATE, 
      GMT_MODIFIED, MEMO)
    values (#{id,jdbcType=BIGINT}, #{roomId,jdbcType=VARCHAR}, #{roomName,jdbcType=VARCHAR}, 
      #{roomType,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, #{isActive,jdbcType=VARCHAR}, 
      #{activeId,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{memo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wjq.model.Room" >
    insert into room
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="roomId != null" >
        ROOM_ID,
      </if>
      <if test="roomName != null" >
        ROOM_NAME,
      </if>
      <if test="roomType != null" >
        ROOM_TYPE,
      </if>
      <if test="price != null" >
        PRICE,
      </if>
      <if test="isActive != null" >
        IS_ACTIVE,
      </if>
      <if test="activeId != null" >
        ACTIVE_ID,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="gmtCreate != null" >
        GMT_CREATE,
      </if>
      <if test="gmtModified != null" >
        GMT_MODIFIED,
      </if>
      <if test="memo != null" >
        MEMO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="roomId != null" >
        #{roomId,jdbcType=VARCHAR},
      </if>
      <if test="roomName != null" >
        #{roomName,jdbcType=VARCHAR},
      </if>
      <if test="roomType != null" >
        #{roomType,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="isActive != null" >
        #{isActive,jdbcType=VARCHAR},
      </if>
      <if test="activeId != null" >
        #{activeId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wjq.model.Room" >
    update room
    <set >
      <if test="roomId != null" >
        ROOM_ID = #{roomId,jdbcType=VARCHAR},
      </if>
      <if test="roomName != null" >
        ROOM_NAME = #{roomName,jdbcType=VARCHAR},
      </if>
      <if test="roomType != null" >
        ROOM_TYPE = #{roomType,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        PRICE = #{price,jdbcType=DECIMAL},
      </if>
      <if test="isActive != null" >
        IS_ACTIVE = #{isActive,jdbcType=VARCHAR},
      </if>
      <if test="activeId != null" >
        ACTIVE_ID = #{activeId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        GMT_CREATE = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        GMT_MODIFIED = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="memo != null" >
        MEMO = #{memo,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wjq.model.Room" >
    update room
    set ROOM_ID = #{roomId,jdbcType=VARCHAR},
      ROOM_NAME = #{roomName,jdbcType=VARCHAR},
      ROOM_TYPE = #{roomType,jdbcType=VARCHAR},
      PRICE = #{price,jdbcType=DECIMAL},
      IS_ACTIVE = #{isActive,jdbcType=VARCHAR},
      ACTIVE_ID = #{activeId,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      GMT_CREATE = #{gmtCreate,jdbcType=TIMESTAMP},
      GMT_MODIFIED = #{gmtModified,jdbcType=TIMESTAMP},
      MEMO = #{memo,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>

    <update id="updateByRoomId" parameterType="java.lang.String" >
    update room
    set
      STATUS = '1'
    where ROOM_ID = #{roomId}
  </update>

  <select id="selectAll" resultMap="BaseResultMap" parameterType="java.lang.String">
      SELECT
        room.ID,
        room.ROOM_ID,
        room.ROOM_NAME,
        room.ROOM_TYPE,
        room.PRICE,
        room.IS_ACTIVE,
        room.ACTIVE_ID,
        room.STATUS,
        room.GMT_CREATE,
        room.GMT_MODIFIED,
        room.MEMO
      FROM
        room room  where  1 =1

          <if test="status !=null and status !=''">
            and room.STATUS = #{status}
          </if>

          <if test="roomType !=null and roomType !=''">
            and  room.ROOM_TYPE = #{roomType}
          </if>

          <if test="roomName !=null and roomName !=''">
            and  room.ROOM_NAME = #{roomName}
          </if>

    ORDER BY GMT_MODIFIED DESC
  </select>

    <select id="selectByRoomId" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
            room.ID,
            room.ROOM_ID,
            room.ROOM_NAME,
            room.ROOM_TYPE,
            room.PRICE,
            room.IS_ACTIVE,
            room.ACTIVE_ID,
            room.STATUS,
            room.GMT_CREATE,
            room.GMT_MODIFIED,
            room.MEMO
        from room
        where ROOM_ID = #{roomId}
    </select>

  <update id="updateStateByRoomId" >

    UPDATE room
    SET  STATUS = #{status}
    WHERE  ROOM_ID = #{roomId}
  </update>

  <update id="updateActiveByRoomId" >

    UPDATE room
    SET  IS_ACTIVE = "0"
    WHERE  ROOM_ID = #{roomId}
  </update>

  <select id="selectRoomChat" resultType="com.wjq.model.UserChat">

    SELECT DATE_FORMAT(GMT_CREATE,'%Y-%m-%d') date,count(0) count FROM room WHERE 1=1 GROUP BY DATE_FORMAT(GMT_CREATE,'%Y-%m-%d')
    ORDER BY GMT_MODIFIED DESC

  </select>

</mapper>