<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wjq.mapper.RoomSubOrderMapper" >
  <resultMap id="BaseResultMap" type="com.wjq.model.RoomSubOrder" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="ORDER_ID" property="orderId" jdbcType="VARCHAR" />
    <result column="SUB_ORDER_ID" property="subOrderId" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="AMOUNT" property="amount" jdbcType="DECIMAL" />
    <result column="PAY_STATUS" property="payStatus" jdbcType="VARCHAR" />
    <result column="GMT_CREATE" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="GMT_MODIFIED" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="MEMO" property="memo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ORDER_ID, SUB_ORDER_ID, TYPE, AMOUNT, PAY_STATUS, GMT_CREATE, GMT_MODIFIED, MEMO
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from room_sub_order
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from room_sub_order
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wjq.model.RoomSubOrder" >
    insert into room_sub_order (ID, ORDER_ID, SUB_ORDER_ID, 
      TYPE, AMOUNT, PAY_STATUS, 
      GMT_CREATE, GMT_MODIFIED, MEMO
      )
    values (#{id,jdbcType=BIGINT}, #{orderId,jdbcType=VARCHAR}, #{subOrderId,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, #{payStatus,jdbcType=VARCHAR}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{memo,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wjq.model.RoomSubOrder" >
    insert into room_sub_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="orderId != null" >
        ORDER_ID,
      </if>
      <if test="subOrderId != null" >
        SUB_ORDER_ID,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="amount != null" >
        AMOUNT,
      </if>
      <if test="payStatus != null" >
        PAY_STATUS,
      </if>
      <if test="gmtCreate != null" >
        GMT_CREATE,
      </if>
      <if test="gmtModified != null" >
        GMT_MODIFIED,
      </if>
      <if test="memo != null" >
        MEMO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="subOrderId != null" >
        #{subOrderId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="payStatus != null" >
        #{payStatus,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wjq.model.RoomSubOrder" >
    update room_sub_order
    <set >
      <if test="orderId != null" >
        ORDER_ID = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="subOrderId != null" >
        SUB_ORDER_ID = #{subOrderId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        AMOUNT = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="payStatus != null" >
        PAY_STATUS = #{payStatus,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        GMT_CREATE = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        GMT_MODIFIED = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="memo != null" >
        MEMO = #{memo,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wjq.model.RoomSubOrder" >
    update room_sub_order
    set ORDER_ID = #{orderId,jdbcType=VARCHAR},
      SUB_ORDER_ID = #{subOrderId,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      AMOUNT = #{amount,jdbcType=DECIMAL},
      PAY_STATUS = #{payStatus,jdbcType=VARCHAR},
      GMT_CREATE = #{gmtCreate,jdbcType=TIMESTAMP},
      GMT_MODIFIED = #{gmtModified,jdbcType=TIMESTAMP},
      MEMO = #{memo,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectAmountChat" resultType="com.wjq.model.RoomChart">

    SELECT DATE_FORMAT(GMT_CREATE,'%Y-%m-%d') date,SUM(AMOUNT) amount FROM room_sub_order WHERE 1=1 GROUP BY DATE_FORMAT(GMT_CREATE,'%Y-%m-%d')
    ORDER BY GMT_MODIFIED DESC

  </select>

  <select id="selectByorderId" resultMap="BaseResultMap">

   SELECT
    room_sub_order.ID,
    room_sub_order.ORDER_ID,
    room_sub_order.SUB_ORDER_ID,
    room_sub_order.TYPE,
    room_sub_order.AMOUNT,
    room_sub_order.PAY_STATUS,
    room_sub_order.GMT_CREATE,
    room_sub_order.GMT_MODIFIED,
    room_sub_order.MEMO
  FROM
    room_sub_order  WHERE 1 =1

    <if test="orderId != null and orderId != ''" >
      and  room_sub_order.ORDER_ID = #{orderId}
    </if>
    ORDER BY GMT_MODIFIED DESC


  </select>

  <update id="updateByOrderId">

    update room_sub_order
    SET  PAY_STATUS = "1",
    GMT_MODIFIED = CURRENT_TIMESTAMP
    WHERE ORDER_ID = #{orderId}
  </update>


</mapper>