<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wjq.mapper.RoomOrderMapper" >
  <resultMap id="BaseResultMap" type="com.wjq.model.RoomOrder" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="ROOM_ID" property="roomId" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="ORDER_NO" property="orderNo" jdbcType="VARCHAR" />
    <result column="ACTIVE_ID" property="activeId" jdbcType="VARCHAR" />
    <result column="DEPOSIT_AMOUNT" property="depositAmount" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="GMT_CREATE" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="GMT_MODIFIED" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="MEMO" property="memo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ROOM_ID, USER_ID, ORDER_NO, ACTIVE_ID, DEPOSIT_AMOUNT, STATUS, GMT_CREATE, GMT_MODIFIED, 
    MEMO
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from room_order
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from room_order
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wjq.model.RoomOrder" >
    insert into room_order (ID, ROOM_ID, USER_ID, 
      ORDER_NO, ACTIVE_ID, DEPOSIT_AMOUNT, 
      STATUS, GMT_CREATE, GMT_MODIFIED, 
      MEMO)
    values (#{id,jdbcType=BIGINT}, #{roomId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{orderNo,jdbcType=VARCHAR}, #{activeId,jdbcType=VARCHAR}, #{depositAmount,jdbcType=DECIMAL}, 
      #{status,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{memo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wjq.model.RoomOrder" >
    insert into room_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="roomId != null" >
        ROOM_ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="orderNo != null" >
        ORDER_NO,
      </if>
      <if test="activeId != null" >
        ACTIVE_ID,
      </if>
      <if test="depositAmount != null" >
        DEPOSIT_AMOUNT,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="gmtCreate != null" >
        GMT_CREATE,
      </if>
      <if test="gmtModified != null" >
        GMT_MODIFIED,
      </if>
      <if test="memo != null" >
        MEMO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="roomId != null" >
        #{roomId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="activeId != null" >
        #{activeId,jdbcType=VARCHAR},
      </if>
      <if test="depositAmount != null" >
        #{depositAmount,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wjq.model.RoomOrder" >
    update room_order
    <set >
      <if test="roomId != null" >
        ROOM_ID = #{roomId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        ORDER_NO = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="activeId != null" >
        ACTIVE_ID = #{activeId,jdbcType=VARCHAR},
      </if>
      <if test="depositAmount != null" >
        DEPOSIT_AMOUNT = #{depositAmount,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        GMT_CREATE = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        GMT_MODIFIED = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="memo != null" >
        MEMO = #{memo,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wjq.model.RoomOrder" >
    update room_order
    set ROOM_ID = #{roomId,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=VARCHAR},
      ORDER_NO = #{orderNo,jdbcType=VARCHAR},
      ACTIVE_ID = #{activeId,jdbcType=VARCHAR},
      DEPOSIT_AMOUNT = #{depositAmount,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=VARCHAR},
      GMT_CREATE = #{gmtCreate,jdbcType=TIMESTAMP},
      GMT_MODIFIED = #{gmtModified,jdbcType=TIMESTAMP},
      MEMO = #{memo,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateStatusByRoomId" parameterType="java.lang.String">
    update room_order
    set STATUS = '1'
    where ROOM_ID = #{roomId,jdbcType=VARCHAR} and  STATUS = '0'
  </update>

  <select id="selectAll" resultType="com.wjq.model.OrderResult">

    SELECT
      room_order.ID id,
      room_order.ROOM_ID roomId,
      room_order.USER_ID userId,
      room_order.ORDER_NO orderNo,
      room_order.ACTIVE_ID activeNo,
      room_order.DEPOSIT_AMOUNT depositAmount,
      room_order.STATUS status,
      room_order.GMT_CREATE gmtCreate,
      room_order.GMT_MODIFIED gmtModified,
      room_order.MEMO memo,
    userr.NAME name,
    room.ROOM_NAME roomName
    FROM
      room_order left JOIN user userr ON  userr.USER_ID = room_order.USER_ID LEFT JOIN  room room ON  room.ROOM_ID = room_order.ROOM_ID

    WHERE 1= 1

    <if test="userName != null and userName != ''">
      and userr.NAME = #{userName}
    </if>

    <if test="roomName != null and roomName != ''">
      and room.ROOM_NAME = #{roomName}
    </if>

  </select>

  <update id="updateStatusByOrderNo">
    update room_order
    SET  STATUS = #{status}
    WHERE  ORDER_NO = #{orderNo}
  </update>

</mapper>