<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> 酒店管理系统 </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="../apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="../css/vendor.css">
    <!-- Theme initialization -->
    <script>
        var themeSettings = (localStorage.getItem('themeSettings')) ? JSON.parse(localStorage.getItem('themeSettings')) :
            {};
        var themeName = themeSettings.themeName || '';
        if (themeName)
        {
            document.write('<link rel="stylesheet" id="theme-style" href="../css/app-' + themeName + '.css">');
        }
        else
        {
            document.write('<link rel="stylesheet" id="theme-style" href="../css/app.css">');
        }
    </script>
</head>
<body>
<div class="main-wrapper">
    <div class="app" id="app">
        <header class="header">
            <div class="header-block header-block-collapse d-lg-none d-xl-none">
                <button class="collapse-btn" id="sidebar-collapse-btn">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            <div class="header-block header-block-nav">
                <ul class="nav-profile">

                    <li class="profile dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">

                            <span class="name" th:text="${manager.userName}"> ${manager.userName} </span>
                        </a>
                        <div class="dropdown-menu profile-dropdown-menu" aria-labelledby="dropdownMenu1">

                            <a class="dropdown-item" href="../user/loginOut.htm">
                                <i class="fa fa-power-off icon"></i> Logout </a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <aside class="sidebar">
            <div class="sidebar-container">
                <div class="sidebar-header">
                    <div class="brand">
                        <div class="logo">
                            <span class="l l1"></span>
                            <span class="l l2"></span>
                            <span class="l l3"></span>
                            <span class="l l4"></span>
                            <span class="l l5"></span>
                        </div> 酒店管理系统 </div>
                </div>
                <nav class="menu">
                    <ul th:if="${manager.level} le 5" class="sidebar-menu metismenu" id="sidebar-menu">
                        <li >
                            <a href="../user/index.htm">
                                <i class="fa fa-home"></i> 首页 </a>
                        </li>
                    </ul>
                    <ul  th:if="${manager.level} eq 4 or ${manager.level} eq 0" class="sidebar-menu metismenu" id="sidebar-menu">
                        <li >
                            <a href="../room/roomList.htm">
                                <i class="fa fa-home"></i> 房间 </a>
                        </li>
                    </ul>

                    <ul th:if="${manager.level} eq 3 or ${manager.level} eq 0" class="sidebar-menu metismenu" id="sidebar-menu">
                        <li >
                            <a href="../order/orderList.htm">
                                <i class="fa fa-home"></i> 订单 </a>
                        </li>
                    </ul>
                    <ul th:if="${manager.level} eq 2 or ${manager.level} eq 0" class="sidebar-menu metismenu" id="sidebar-menu">
                        <li>
                            <a href="../user/userList.htm">
                                <i class="fa fa-home"></i> 用户 </a>
                        </li>
                    </ul>
                    <ul th:if="${manager.level} eq 3 or ${manager.level} eq 0" class="sidebar-menu metismenu" id="sidebar-menu">
                        <li >
                            <a href="../order/subOrderList.htm">
                                <i class="fa fa-home"></i> 子订单 </a>
                        </li>
                    </ul>
                    <ul th:if="${manager.level} eq 1 or ${manager.level} eq 0" class="sidebar-menu metismenu" id="sidebar-menu">
                        <li >
                            <a href="../user/managerList.htm">
                                <i class="fa fa-home"></i> 后台用户 </a>
                        </li>
                    </ul>
                    <ul th:if="${manager.level} eq 2 or ${manager.level} eq 0" class="sidebar-menu metismenu" id="sidebar-menu">
                        <li >
                            <a href="../active/activeList.htm">
                                <i class="fa fa-home"></i> 活动 </a>
                        </li>
                    </ul>
                    <ul th:if="${manager.level} eq 2 or ${manager.level} eq 0" class="sidebar-menu metismenu" id="sidebar-menu">
                        <li class="active">
                            <a href="../consumable/consumableList.htm">
                                <i class="fa fa-home"></i> 消耗品 </a>
                        </li>
                    </ul>
                    <ul th:if="${manager.level} eq 0" class="sidebar-menu metismenu" id="sidebar-menu">
                        <li >
                            <a href="../log/log.htm">
                                <i class="fa fa-home"></i> 日志 </a>
                        </li>
                    </ul>
                    <ul th:if="${manager.level} eq 0" class="sidebar-menu metismenu" id="sidebar-menu">
                        <li >
                            <a href="../log/charts.htm">
                                <i class="fa fa-home"></i> 图表 </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <footer class="sidebar-footer">
                <ul class="sidebar-menu metismenu" id="customize-menu">
                    <li>
                        <ul>
                            <li class="customize">
                                <div class="customize-item">
                                    <div class="row customize-header">
                                        <div class="col-4"> </div>
                                        <div class="col-4">
                                            <label class="title">fixed</label>
                                        </div>
                                        <div class="col-4">
                                            <label class="title">static</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            <label class="title">Sidebar:</label>
                                        </div>
                                        <div class="col-4">
                                            <label>
                                                <input class="radio" type="radio" name="sidebarPosition" value="sidebar-fixed">
                                                <span></span>
                                            </label>
                                        </div>
                                        <div class="col-4">
                                            <label>
                                                <input class="radio" type="radio" name="sidebarPosition" value="">
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            <label class="title">Header:</label>
                                        </div>
                                        <div class="col-4">
                                            <label>
                                                <input class="radio" type="radio" name="headerPosition" value="header-fixed">
                                                <span></span>
                                            </label>
                                        </div>
                                        <div class="col-4">
                                            <label>
                                                <input class="radio" type="radio" name="headerPosition" value="">
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            <label class="title">Footer:</label>
                                        </div>
                                        <div class="col-4">
                                            <label>
                                                <input class="radio" type="radio" name="footerPosition" value="footer-fixed">
                                                <span></span>
                                            </label>
                                        </div>
                                        <div class="col-4">
                                            <label>
                                                <input class="radio" type="radio" name="footerPosition" value="">
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="customize-item">
                                    <ul class="customize-colors">
                                        <li>
                                            <span class="color-item color-red" data-theme="red"></span>
                                        </li>
                                        <li>
                                            <span class="color-item color-orange" data-theme="orange"></span>
                                        </li>
                                        <li>
                                            <span class="color-item color-green active" data-theme=""></span>
                                        </li>
                                        <li>
                                            <span class="color-item color-seagreen" data-theme="seagreen"></span>
                                        </li>
                                        <li>
                                            <span class="color-item color-blue" data-theme="blue"></span>
                                        </li>
                                        <li>
                                            <span class="color-item color-purple" data-theme="purple"></span>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                        <a href="">
                            <i class="fa fa-cog"></i> Customize </a>
                    </li>
                </ul>
            </footer>
        </aside>
        <div class="sidebar-overlay" id="sidebar-overlay"></div>
        <div class="sidebar-mobile-menu-handle" id="sidebar-mobile-menu-handle"></div>
        <div class="mobile-menu-handle"></div>
        <article class="content dashboard-page">
            <div class="col-md-12">
                <form action="../consumable/consumableList.htm" method="post">
                    <div class="form-group"  style="float:left;margin-right:20px">
                        <label class="control-label">房间名</label>
                        <input name="roomName" type="text" style="width:200px" th:value="${roomName}" class="form-control underlined"> </div>

                    <div class="form-group" >
                        <label class="control-label">消耗品名称</label>
                        <input name="name" type="text" style="width:200px" th:value="${name}" class="form-control underlined"> </div>

                    <button type="submit" class="btn btn-primary-outline">搜索</button>
                    <button type="button" class="btn btn-primary-outline" onclick="insert()">新增</button>
                </form>
                <div class="card">
                    <div class="card-block">
                        <div class="card-title-block">
                            <h3 class="title"> 消耗品列表 </h3>
                        </div>
                        <section class="example">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>房间id</th>
                                    <th>名称</th>
                                    <th>价格</th>
                                    <th>状态</th>
                                    <th>创建时间</th>
                                    <th>修改时间</th>
                                    <th>备注</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="consumable,consumableStat: ${consumableList}">
                                    <th th:text="${consumableStat.index+1}" scope="row">1</th>
                                    <td th:text="${consumable.roomId}">111</td>
                                    <td th:text="${consumable.name}">11</td>
                                    <td th:text="${consumable.price}">11</td>
                                    <td th:if="${consumable.status} == '0'">无效</td>
                                    <td th:if="${consumable.status} == '1'">有效</td>
                                    <td th:if="${consumable.status} == '2'">已使用</td>
                                    <td th:text="${#dates.format(consumable.gmtCreate,'yyyy-MM-dd HH:mm:ss')}">11</td>
                                    <td th:text="${#dates.format(consumable.gmtModified,'yyyy-MM-dd HH:mm:ss')}">11</td>
                                    <td th:text="${consumable.memo}">11</td>
                                    <td th:if="${consumable.status} eq '1'"><button type="button" class="btn btn-primary-outline" th:onclick="'javascript:use('+${consumable.id}+');'">使用</button></td>
                                </tr>
                                </tbody>
                            </table>
                        </section>
                    </div>
                </div>
            </div>
        </article>

        <div class="modal fade" id="modal-media">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Media Library</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                    </div>
                    <div class="modal-body modal-tab-container">
                        <ul class="nav nav-tabs modal-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" href="#gallery" data-toggle="tab" role="tab">Gallery</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#upload" data-toggle="tab" role="tab">Upload</a>
                            </li>
                        </ul>
                        <div class="tab-content modal-tab-content">
                            <div class="tab-pane fade" id="gallery" role="tabpanel">
                                <div class="images-container">
                                    <div class="row"> </div>
                                </div>
                            </div>
                            <div class="tab-pane fade active in" id="upload" role="tabpanel">
                                <div class="upload-container">
                                    <div id="dropzone">
                                        <form action="/" method="POST" enctype="multipart/form-data" class="dropzone needsclick dz-clickable" id="demo-upload">
                                            <div class="dz-message-block">
                                                <div class="dz-message needsclick"> Drop files here or click to upload. </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Insert Selected</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
        <div class="modal fade" id="confirm-modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            <i class="fa fa-warning"></i> Alert</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure want to do this?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Yes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    </div>
</div>
<!-- Reference block for JS -->
<div class="ref" id="ref">
    <div class="color-primary"></div>
    <div class="chart">
        <div class="color-primary"></div>
        <div class="color-secondary"></div>
    </div>
</div>
<script>
    (function(i, s, o, g, r, a, m)
    {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function()
            {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-80463319-4', 'auto');
    ga('send', 'pageview');

    function insert(){
        var iTop = (window.screen.height-30-700)/2; //获得窗口的垂直位置;
        var iLeft = (window.screen.width-10-600)/2; //获得窗口的水平位置;
        window.open('../consumable/editConsumable.htm', '_blank', 'height=700, width=600, top='+iTop+', left='+iLeft+', toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, status=no')
    }

    function use(id) {
        jQuery.ajax({
            dataType:"json",
            type:"post",
            url:"../consumable/useConsumable.do",
            data:{
                id:id
            },
            success:function (data) {
                if(data.bizSucc){
                    window.location.reload();
                }else{
                    alert(data.msg);
                }

            },
            error:function (data) {
                alert(data.message);
            }
        });
    }

</script>
<script src="../js/vendor.js"></script>
<script src="../js/app.js"></script>
</body>
</html>